// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
// MAINS ORANGE, WHITE, BLUE, BLACK
$blue: #1c768f;
$darkBlue: #032539;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #fa991c;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fbf3f2;
$black: #1d1d1d;
$blackT: #0b0c10;
$blueT: #66fcf1;

$background: $blackT;
$font: $white;
$primary: $orange;
$secondary: $blue;
