// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
// MAINS ORANGE, WHITE, BLUE, BLACK
$blue: #1c768f;
$darkBlue: #032539;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #fa991c;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fbf3f2;
$grey: #f3e9e7;
$black: #1d1d1d;
$blackT: #0b0c10;
$blueT: #66fcf1;

$background: $blackT;
$font: $white;
$primary: $orange;
$secondary: $blue;

/* Color Theme Swatches in Hex */
$background: #003354;
$secondary: #91bed4;
$Orange-and-Blue-Corporate-3-hex: #d9e8f5;
$font: #ffffff;
$primary: #f26101;

/* Color Theme Swatches in Hex */
$background: #1e3340;
$secondary: #70818c;
// $font: #babdbf;
$thirdary: #78bfb8;
$primary: #d9d5a7;

/* Color Theme Swatches in Hex */
$background: #4d5d73;
$secondary: #b4cbd9;

$Military-Tech-3-hex: #dceef2;
$primary: #f2a25c;
$Military-Tech-5-hex: #a65341;

$background: $black;
// $secondary: #4d5d73;
