// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//imports
@import 'flex.scss';
@import 'menu.scss';
@import 'message.scss';
@import 'slider.scss';

@import 'imageAccordion.scss';

@import 'sliderVert.scss';

body {
    font-size: 1.6rem;
    height: 100%;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
textarea,
input {
    font-size: 1.6rem;
    width: 100%;
    border-radius: 0.2rem;
    min-height: 1.6rem;
    max-height: 5rem;
}

button {
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: $blue;
    color: white;
    width: 100%;
    border: none;
    transition: transform 2s;
}

button:hover {
    background-color: white;
    color: $blue;
}
