// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//imports
@import 'flex.scss';
@import 'menu.scss';
@import 'message.scss';
@import 'slider.scss';

@import 'imageAccordion.scss';
@import 'imageAccordionReel.scss';
@import 'imageAccordionDesign.scss';

@import 'sliderVert.scss';
@import 'generalist.scss';
@import 'development.scss';

body {
    font-size: 1.6rem;
    height: 100%;
    background: $background;
    margin: 0px;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
textarea,
input {
    font-size: 1.6rem;
    width: 100%;
    border-radius: 0.2rem;
    min-height: 1.6rem;
    max-height: 5rem;
}

button {
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: $primary;
    color: white;
    width: 100%;
    border: none;
    transition: transform 2s;
}

button:hover {
    background-color: white;
    color: $blue;
}

.social-icon-row {
    img {
        height: 3rem;
        width: auto;
    }
}

.padding-0-40 {
    padding: 0px 40px;
}

.display-none {
    display: none;
}

p,
h1,
h2,
h3,
h4,
a {
    color: $font;
}

.margin-0 {
    margin: 0px;
}

.padding-bottom-1 {
    padding-bottom: 1rem;
}

.padding-0-3 {
    padding: 0px 3%;
}

.padding-0-1 {
    padding: 0px 1rem;
}

.padding-2-0 {
    padding: 2rem 0px;
}

.padding-r-1 {
    padding-right: 10px;
}

.border-left-break {
    border-left: solid $thirdary 10px;
}

canvas {
    border: 1px solid black;
    background: #1d1d1d;
}
body {
    margin: 0;
}

.zoom {
    transition: all 0.2s ease;
    // transition: transform 0.2s ease;
    transform: scale(1);
    // transition: transform 2s;

    cursor: pointer;
}
.zoom:hover {
    transform: scale(1.05) !important;
}

canvas {
    border: 1px solid black;
    background: #1d1d1d;
}

.reveal {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition: opacity 0.8s, transform 0.8s;

    &_visible {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
