// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

//imports
@import "flex.scss";
@import "menu.scss";
@import "message.scss";
@import "slider.scss";

@import "imageAccordion.scss";
@import "imageAccordionReel.scss";
@import "imageAccordionDesign.scss";

@import "sliderVert.scss";
@import "generalist.scss";
@import "development.scss";

body {
    font-size: 1.6rem;
    height: 100%;
    background: $background;
    margin: 0px;
    font-family: $font-family-sans-serif;
}

h3,
h2,
h1 {
    font-size: 3rem;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
textarea,
input {
    font-size: 1.6rem;
    width: 100%;
    border-radius: 0.2rem;
    min-height: 1.6rem;
    max-height: 5rem;
}

button {
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: $primary;
    color: white;
    width: 100%;
    border: none;
    transition: transform 2s;
}

button:hover {
    background-color: white;
    color: $blue;
}

.social-icon-row {
    img {
        height: 3rem;
        width: auto;
    }
}

.padding-0-40 {
    padding: 0px 40px;
}

.display-none {
    display: none;
}

p,
h1,
h2,
h3,
h4,
a {
    color: $font;
}

.margin-0 {
    margin: 0px;
}

.margin-bottom-1 {
    margin-bottom: 1rem;
}

.padding-bottom-1 {
    padding-bottom: 1rem;
}

.padding-0-3 {
    padding: 0px 3%;
}

.padding-0-1 {
    padding: 0px 1rem;
}

.padding-2-0 {
    padding: 2rem 0px;
}

.padding-r-1 {
    padding-right: 10px;
}

.border-left-break {
    border-left: solid $thirdary 10px;
}

canvas {
    border: 1px solid black;
    background: #1d1d1d;
}
body {
    margin: 0;
}

.zoom {
    transition: all 0.2s ease;
    // transition: transform 0.2s ease;
    transform: scale(1);
    // transition: transform 2s;

    cursor: pointer;
}
.zoom:hover {
    transform: scale(1.05) !important;
}

canvas {
    border: 1px solid black;
    background: #1d1d1d;
}

.reveal {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition: opacity 0.8s, transform 0.8s;

    &_visible {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.push-top {
    // top: 19vh;
    position: relative;
}

// #right-side {
/* The image used */
// background-image: url('/developmentBG.jpg');

/* Full height */
// height: 100%;

/* Center and scale the image nicely */
// background-position: center;
// background-repeat: no-repeat;
// background-size: cover;
// }
.img-home-size {
    // position: absolute;
    // left: 0;
    // height: 100%;
    // width: auto;

    position: absolute;
    left: 0;
    top: 0;
    max-height: 400%;
    min-height: 100%;
    width: auto;
    max-width: 400%;
    min-width: 100%;
    z-index: -1;
}
#img-home-left {
    width: 50%;
    position: relative;
    // height: 100%;
    height: 100vh;
    overflow: hidden;
    display: inline-block;
    background: #ffffff45;
}

#img-home-right {
    width: 50%;
    position: relative;
    // height: 100%;
    height: 100vh;
    overflow: hidden;
    display: inline-block;
    background: #ffffff45;
}

#homepage-black-block {
    // width: 30%;
    z-index: -1;
    height: 100%;
    background: $black;
    background: black;
    width: 40%;
    position: absolute;
}

@media (max-width: 899px) {
    #homepage-black-block {
        width: 0%;
    }
}

#homepage-video-block {
    // width: 30%;
    z-index: -2;
    height: 100%;
    background: $black;
    background: black;
    // background: red;

    width: 70%;
    position: absolute;
    right: 0px;
    top: 0px;
    overflow: hidden;
}

@media (max-width: 899px) {
    #homepage-video-block {
        width: 100%;
    }
}
.main-div-homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    // box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
}

.main-div-homepage-left {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    // box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
}

.main-links-homepage {
    border: 3px solid $black;
    padding: 1rem 2rem;
    border-radius: 50px;
    color: $black !important;
    text-decoration: none;
    // opacity: 0.8;
    background-color: $white;
}

.main-links-homepage:hover {
    background-color: $secondary;
    // opacity: 1;
}

.main-links-homepage-02 {
    // border: 3px solid $black;
    padding: 1rem 2rem;
    border-radius: 50px;
    // color: none !important;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $white;
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
    font-size: 40px;
    font-size: 4rem;

    // opacity: 0.8;
    // background-color: $white;
}

.main-links-homepage-02:hover {
    color: $white !important;
    // background-color: $secondary;
    // opacity: 1;
}

.scale-img {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#homepage-bg-image {
    transition: all 2s;
}

#home-white-div {
    width: 5%;
    height: 0.4rem;
    background-color: $white;
    transition: all 1s;
    height: 3px;
}

#myModal {
    z-index: 1000;
    .form-group {
        padding: 1rem;
    }
    color: $white;
}

.padding-bottom-1rem {
    padding-bottom: 1rem;
}
