#devImg {
    width: 100%;
    height: auto;
}

#development-top {
    // padding: 0px 2rem;
    background: $white;
    // background-image: url("/img/developmentBG.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    padding-top: 6rem;

    // background-size: auto;
    display: flex;
    align-items: center;

    color: $black;
    p,
    h3,
    h1,
    a {
        color: $black;
        // transform: all 0.2s;
    }

    h5 {
        background: $black;
        color: $white;
    }
    // a:hover {
    //     transform: scale(1.5);
    // }

    a {
        display: flex;
        align-items: center;
    }
}

#development-bottom {
    overflow: hidden;
    background: $white;
    color: $black;
    p,
    h3,
    h1 {
        color: $black;
    }
}
#development-bottom-parent {
    height: 100%;
    width: 100%;
}

#devDescription {
    overflow: hidden;
}
