.display-reel {
    display: none;
}

.toggle-reel-button {
    height: 6rem;
    width: auto;
    height: auto;
    display: flex;

    right: 0;
    top: 0;
    z-index: 1;
    cursor: pointer;
}

.position-reel-button {
    position: absolute;
}

.toggle-reel-img {
    width: auto;
    height: 4rem;
    margin: auto;
    margin-left: 1rem;
}

.video {
    z-index: 0;
}
