.display-reel {
    display: none;
}

.toggle-reel-button {
    height: 6rem;
    width: auto;
    height: auto;
    display: flex;

    right: 0;
    top: 0;
    z-index: 1;
    cursor: pointer;
}

.position-reel-button {
    position: absolute;
}

.toggle-reel-img {
    width: auto;
    height: 4rem;
    margin: auto;
    margin-left: 1rem;
}

.video {
    z-index: 0;
}

.design-credit-div {
    animation-duration: 600ms;
    margin: auto;
    width: 25%;
    height: auto;
    padding: 0.4rem;
    background: black;
}

.design-credit {
    height: auto;
    width: 100%;
    // animation-name: card__head_anim;
}

.design-credit-div:hover {
    transform: scale(1.2);
    background: $pink;
}
