#slider-container {
    width: 100%;
    height: 10rem;
    // max-width: 960px; old
    max-width: 1275px;
    margin: 0 auto;
    background-color: #1b1b1b;
    position: relative;
    .credit-img {
        height: 100%;
        width: auto;
        transition: transform 2s;
        // z-index: 20;
        // position: absolute;
        // display: block;
    }

    .credit-img:hover {
        transform: scale(1.2);
        z-index: 1;
        // display: block;
        // position: absolute;
        // position: block;
        // right: 0;
    }
}

#slider-box {
    width: 100%;
    height: 100%;
    // height: 320px;
    background-color: #1b1b1b;
    // overflow: hidden;
    // overflow-x: hidden;
    // overflow-y: visible;
}

#slider-box ul {
    list-style: none;
    width: 6000px;
    // height: 320px;
    margin-left: 35px;
    padding: 0;
}

#slider-box li {
    // width: 300px; old
    // padding-left: 10px;
    width: 110px;
    // height: 320px;
    display: block;
    text-align: center;
    line-height: 320px;
    float: left;
    font-size: 48px;
    // position: relative;
}

#parent {
    margin-top: 0px;
    margin-bottom: 0px;
}

#slide-foward-button {
    position: absolute;
    right: 0;
    top: 50%;
    // width: 300px;
    width: 100px;
    transform: translate(0, -50%);
}
#slide-backward-button {
    position: absolute;
    left: 0;
    top: 50%;
    // width: 300px;
    width: 100px;
    transform: translate(0, -50%);
}
#sliderParent {
    margin-top: 0px;
}
