#slider-container {
    width: 100%;
    height: 12rem;
    z-index: 2;
    // max-width: 960px; old
    // overflow-x: hidden;
    // overflow-y: visible;
    // overflow: auto;
    max-width: 1275px;
    margin: 0 auto;
    // background-color: #1b1b1b;
    //LEGACY ABSOLUTE
    // position: relative;
    .credit-img {
        height: 100%;
        width: auto;
        transition: transform 2s;
        // z-index: 20;
        // position: absolute;
        // display: block;
    }

    .credit-img:hover {
        transform: scale(1.2);
        z-index: 4;
        z-index: 30;
        // display: block;
        // position: absolute;
        // position: block;
        // right: 0;
    }
}

#slider-box {
    width: 100%;
    height: 100%;
    z-index: 20;
    // height: 320px;
    // background-color: #1b1b1b;
    // overflow: hidden;
    // overflow-x: hidden;
    // overflow-y: visible;
    margin-top: 1rem;
    // margin-bottom: 1rem;
}

#slider-box ul {
    list-style: none;
    width: 6000px;
    // height: 320px;
    margin-left: 35px;
    padding: 0;
    // margin-top: 1rem;
}

#slider-box li {
    // width: 300px; old
    // padding-left: 10px;
    width: 110px;
    // height: 320px;
    display: block;
    text-align: center;
    line-height: 320px;
    float: left;
    font-size: 48px;
    // position: relative;
}

#parent {
    margin-top: 0px;
    margin-bottom: 0px;
}

#slide-foward-div {
    position: absolute;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    right: 0;
    top: 50%;
}

#slide-foward-button {
    font-size: 1.2rem;
    padding: 0px;
    margin: 0px;
    position: relative;
    opacity: 0.8;
    height: 4rem;
    border-radius: 0px;
    z-index: 1;
    transition: all 1.1s ease-in-out;
    // position: absolute;
    // right: 0;
    // top: 50%;
    // transform: translate(0, -50%);
    // width: 300px;
    // height: 100%;
    // height: 10rem;
    // width: 100px;
    // width: 20px;
}

#slide-foward-button:hover {
    height: 10rem;
    opacity: 1;
    color: $black;
    p {
        color: $black;
    }
}

#slide-backward-div {
    position: absolute;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 0;
    top: 50%;
}

#slide-backward-button {
    font-size: 1.2rem;
    padding: 0px;
    margin: 0px;
    position: relative;
    opacity: 0.8;
    height: 4rem;
    border-radius: 0px;
    z-index: 1;
    transition: all 1.1s ease-in-out;
    // font-size: 1.2rem;
    // position: absolute;
    // left: 0;
    // top: 50%;
    // opacity: 0.8;
    // height: 4rem;
    // width: 20px;
    // transform: translate(0, -50%);
    // border-radius: 0px;
    // z-index: 1;

    // width: 300px;
    // height: 100%;
    // height: 10rem;
    // :hover {
    //     opacity: 1;
    // }
}

#slide-backward-button:hover {
    height: 10rem;
    opacity: 1;
    color: $black;
    p {
        color: $black;
    }
}

#sliderParent {
    z-index: 10;
    height: 10rem;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#particle-canvas {
    width: 100%;
    height: 100%;
}

#slider-ol {
    position: absolute;
}

#slider-close {
    width: 3rem;
    height: auto;
}

#slider-ol-visible {
    display: none;
    position: absolute;
    bottom: -1rem;
    background: $secondary;
    color: $white;
    padding: 1rem 1rem 1rem 2rem;
    max-width: 100%;
    border-radius: 4rem 2px 0 0;
}

#slider-title {
    font-size: 2rem;
    margin: 0px;
}

#slider-text {
    font-size: 1.4rem;
    margin: 0px;
}
