@import url(https://fonts.googleapis.com/css?family=Nunito);/* Color Theme Swatches in Hex */

/* Color Theme Swatches in Hex */

/* Color Theme Swatches in Hex */

@media (min-width: 900px) {
  .flex-row {
    -webkit-box-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: flex;
  }
}

.flex-row-start {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.flex-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.flex-row-reverse {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}

.flex-row-to-col {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

@media (max-width: 900px) {
  .flex-row-to-col {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

.flex-05 {
  -webkit-box-flex: 1;
          flex: 1;
  flex-basis: 50%;
}

.flex-1 {
  -webkit-box-flex: 1;
          flex: 1;
  flex-basis: 30%;
}

.flex-1-van {
  -webkit-box-flex: 1;
          flex: 1;
}

.flex-2 {
  -webkit-box-flex: 2;
          flex: 2;
}

.flex-3 {
  -webkit-box-flex: 3;
          flex: 3;
}

.flex-4 {
  -webkit-box-flex: 4;
          flex: 4;
}

.img-width-100-height-auto {
  width: auto;
  height: 100%;
}

.flex-end {
  align-self: flex-end;
}

.flex-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

#navbar {
  width: 100%;
  z-index: 12;
  background: #ffffff6b;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#navbar-child {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem 1rem 1rem;
  padding-right: 0px;
}

@media screen and (min-width: 900px) {
  #navbar-child {
    padding-right: 2rem;
  }
}

#menuToggle {
  margin: auto 0px;
  right: 0;
  padding: 0.5rem;
  padding-bottom: 0.2rem;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  background: #f2a25c;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

@media screen and (min-width: 900px) {
  #menuToggle input,
  #menuToggle span:first-child,
  #menuToggle span:nth-last-child(2),
  #menuToggle span:nth-last-child(3),
  #menuToggle span {
    display: none;
  }
}

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

#menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  display: block;
  width: 30vw;
  min-width: 300px;
  margin-top: 0px;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 50px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.9s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.9s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.9s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.9s cubic-bezier(0.77, 0.2, 0.05, 1);
}

@media screen and (min-width: 900px) {
  #menu {
    display: -webkit-box;
    display: flex;
    height: auto;
    width: auto;
    min-width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    background: none;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

#menu li {
  padding: 10px 0;
  padding-right: 40px;
  font-size: 22px;
  white-space: nowrap;
}

@media screen and (min-width: 900px) {
  #menu li {
    padding: 0px;
    padding: 0 2vw 0 0;
  }
}

#menu a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menu a :hover {
  color: tomato;
}

.tooltip {
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: red;
  color: #fbf3f2;
  background: red;
  position: fixed;
  top: 0;
  z-index: -1;
  font-size: 1.2rem;
  width: 400px;
  text-align: left;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.transparent {
  opacity: 0;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */

.modal-content {
  background-color: #1d1d1d;
  width: 80%;
  max-width: 600px;
  margin: auto;
  margin-top: 2%;
}

.modal-content #filmModalTitle {
  color: #f2a25c;
}

/* The Close Button */

.close {
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0.3rem;
  right: 1rem;
}

.close:hover,
.close:focus {
  color: #f2a25c;
  text-decoration: none;
  cursor: pointer;
}

.bg-red {
  background-color: red;
}

#modalBtn {
  z-index: 1000;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 4rem;
  width: 4rem;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 0;
  background-color: none;
  color: white;
  border: none;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}

#modalBtn:hover {
  background-color: #1c768f;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 200%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 200%;
  width: 7rem;
  height: 7rem;
}

#submitBtn {
  border-radius: 0px;
}

#slider-container {
  width: 100%;
  height: 12rem;
  z-index: 2;
  max-width: 1275px;
  margin: 0 auto;
}

#slider-container .credit-img {
  width: auto;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  max-height: 10rem;
  max-width: 100%;
}

#slider-container .credit-img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 4;
  z-index: 30;
}

#slider-box {
  width: 100%;
  height: 100%;
  z-index: 20;
  margin-top: 1rem;
}

#slider-box ul {
  list-style: none;
  width: 6000px;
  margin-left: 35px;
  padding: 0;
}

#slider-box li {
  width: 110px;
  max-height: 10rem;
  height: 100%;
  display: block;
  text-align: center;
  line-height: 320px;
  float: left;
  font-size: 48px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  -webkit-box-pack: center;
          justify-content: center;
}

#parent {
  margin-top: 0px;
  margin-bottom: 0px;
}

#slide-foward-div {
  position: absolute;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 0;
  top: 50%;
}

#slide-foward-button {
  font-size: 1.2rem;
  padding: 0px;
  margin: 0px;
  position: relative;
  opacity: 0.8;
  height: 4rem;
  border-radius: 0px;
  z-index: 1;
  -webkit-transition: all 1.1s ease-in-out;
  transition: all 1.1s ease-in-out;
}

#slide-foward-button:hover {
  height: 10rem;
  opacity: 1;
  color: #1d1d1d;
}

#slide-foward-button:hover p {
  color: #1d1d1d;
}

#slide-backward-div {
  position: absolute;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 0;
  top: 50%;
}

#slide-backward-button {
  font-size: 1.2rem;
  padding: 0px;
  margin: 0px;
  position: relative;
  opacity: 0.8;
  height: 4rem;
  border-radius: 0px;
  z-index: 1;
  -webkit-transition: all 1.1s ease-in-out;
  transition: all 1.1s ease-in-out;
}

#slide-backward-button:hover {
  height: 10rem;
  opacity: 1;
  color: #1d1d1d;
}

#slide-backward-button:hover p {
  color: #1d1d1d;
}

#sliderParent {
  z-index: 10;
  height: 10rem;
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#particle-canvas {
  width: 100%;
  height: 100%;
}

#slider-ol {
  position: absolute;
}

#slider-close {
  width: 3rem;
  height: auto;
}

#slider-ol-visible {
  display: none;
  position: absolute;
  bottom: -1rem;
  right: 0;
  background: #b4cbd9;
  color: #1d1d1d;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 4rem 2px 0 0;
  max-width: 1275px;
}

#slider-title {
  font-size: 1.2rem;
  margin: 0px;
}

#slider-text {
  font-size: 1rem;
  margin: 0px;
}

.accordion-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin: 4vmin;
  overflow: hidden;
  -webkit-transform: skew(5deg);
          transform: skew(5deg);
}

.accordion-container .card {
  -webkit-box-flex: 1;
          flex: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  height: 40vmin;
  position: relative;
  overflow: hidden;
}

.accordion-container .card .card__head {
  opacity: 0.8;
  overflow: hidden;
  color: black;
  background: rgba(255, 30, 173, 0.75);
  background: #f2a25c;
  padding: 0.5em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  position: absolute;
  left: 0;
  font-size: 1em;
  white-space: nowrap;
  bottom: calc(100% - 10em);
}

.accordion-container .card .card__copy {
  padding: 0.5em;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  display: none;
}

.accordion-container .card:hover {
  -webkit-box-flex: 10;
          flex-grow: 10;
}

.accordion-container .card:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.accordion-container .card:hover .card__head {
  opacity: 0.8;
  text-align: center;
  bottom: calc(100% - 4em);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  -webkit-transform: rotate(0deg) skew(-5deg);
          transform: rotate(0deg) skew(-5deg);
  border-bottom-left-radius: 0px;
  min-width: 100%;
  -webkit-animation-name: card__head_anim;
          animation-name: card__head_anim;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
}

@-webkit-keyframes card__head_anim {
  0% {
    width: 100%;
    min-width: 100%;
    opacity: 0.8;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    color: black;
    background: rgba(255, 30, 173, 0.75);
    background: #f2a25c;
    font-size: 1em;
    height: auto;
  }

  50% {
    width: 100%;
    opacity: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    color: black;
    background: rgba(255, 30, 173, 0.75);
    background: #f2a25c;
    font-size: 1em;
    min-width: 100%;
  }

  51% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 2em;
    width: 0px;
    min-width: 0px;
    height: auto;
    bottom: calc(100% - 4em);
  }

  100% {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    opacity: 100;
    min-width: 100%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    font-size: 2em;
    width: 100%;
    height: auto;
    bottom: calc(100% - 4em);
  }
}

@keyframes card__head_anim {
  0% {
    width: 100%;
    min-width: 100%;
    opacity: 0.8;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    color: black;
    background: rgba(255, 30, 173, 0.75);
    background: #f2a25c;
    font-size: 1em;
    height: auto;
  }

  50% {
    width: 100%;
    opacity: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    color: black;
    background: rgba(255, 30, 173, 0.75);
    background: #f2a25c;
    font-size: 1em;
    min-width: 100%;
  }

  51% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 2em;
    width: 0px;
    min-width: 0px;
    height: auto;
    bottom: calc(100% - 4em);
  }

  100% {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    opacity: 100;
    min-width: 100%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    font-size: 2em;
    width: 100%;
    height: auto;
    bottom: calc(100% - 4em);
  }
}

.accordion-container .card:hover .card__copy {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(0deg) skew(-5deg);
          transform: rotate(0deg) skew(-5deg);
  display: block;
}

.accordion-container .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.accordion-container .card:not(:nth-child(6)) {
  margin-right: 1em;
}

#button-reel-breakdown {
  background-color: #b4cbd9;
  color: white;
  text-align: center;
  padding: 0.2rem;
  z-index: 5;
  position: relative;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.2rem;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  display: -webkit-box;
  display: flex;
}

.accordion-container-reel {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  overflow: hidden;
  margin-top: 0px;
  margin-top: -2px;
  z-index: 5;
  background: black;
  padding: 0.5rem;
}

.accordion-container-reel .card {
  -webkit-box-flex: 1;
          flex: 1;
  -webkit-transition: max-height 20s ease;
  transition: max-height 20s ease;
  height: 140px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.accordion-container-reel .card .card__head {
  opacity: 0.8;
  overflow: hidden;
  color: black;
  background: rgba(255, 30, 173, 0.75);
  background: #f2a25c;
  padding: 0.5em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  position: absolute;
  left: 0;
  font-size: 1em;
  white-space: nowrap;
  bottom: calc(100% - 10em);
}

.accordion-container-reel .card .card__copy {
  padding: 0.5em;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  display: none;
}

.accordion-container-reel .card:hover {
  -webkit-box-flex: 10;
          flex-grow: 10;
}

.accordion-container-reel .card:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.accordion-container-reel .card:hover .card__head {
  opacity: 0.8;
  text-align: center;
  bottom: calc(100% - 4em);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  -webkit-transform: rotate(0deg) skew(-5deg);
          transform: rotate(0deg) skew(-5deg);
  border-bottom-left-radius: 0px;
  min-width: 100%;
  -webkit-animation-name: card__head_anim;
          animation-name: card__head_anim;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
}

@keyframes card__head_anim {
  0% {
    width: 100%;
    min-width: 100%;
    opacity: 0.8;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    color: black;
    background: rgba(255, 30, 173, 0.75);
    background: #f2a25c;
    font-size: 1em;
    height: auto;
  }

  50% {
    width: 100%;
    opacity: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    color: black;
    background: rgba(255, 30, 173, 0.75);
    background: #f2a25c;
    font-size: 1em;
    min-width: 100%;
  }

  51% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 2em;
    width: 0px;
    min-width: 0px;
    height: auto;
    bottom: calc(100% - 4em);
  }

  100% {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    opacity: 100;
    min-width: 100%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    font-size: 2em;
    width: 100%;
    height: auto;
    bottom: calc(100% - 4em);
  }
}

.accordion-container-reel .card:hover .card__copy {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(0deg) skew(-5deg);
          transform: rotate(0deg) skew(-5deg);
  display: block;
}

.accordion-container-reel .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.accordion-container-reel .card:not(:nth-child(6)) {
  margin-right: 0.2rem;
}

.height0 {
  max-height: 0px !important;
  -webkit-transition: all 2000s ease !important;
  transition: all 2000s ease !important;
}

.accordion-container-design {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  overflow: hidden;
  padding-bottom: 0.5rem;
}

.accordion-container-design .card:hover {
  border: #f2a25c groove 2px;
}

.accordion-container-design .card {
  -webkit-box-flex: 1;
          flex: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  height: 40vmin;
  position: relative;
  overflow: hidden;
  border: #1d1d1d solid 2px;
  border-left: #1d1d1d solid 1px;
  border-right: #1d1d1d solid 1px;
}

.accordion-container-design .card .card__head {
  opacity: 0.8;
  overflow: hidden;
  color: black;
  background: rgba(255, 30, 173, 0.75);
  background: #f2a25c;
  padding: 0.5em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: left;
  padding-left: 3.5rem;
  position: absolute;
  left: 0;
  white-space: nowrap;
  bottom: calc(100% - 10em);
  bottom: -60;
  bottom: 0px;
  min-width: 240%;
  font-size: 17px;
}

.accordion-container-design .card .card__copy {
  padding: 0.5em;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  display: none;
}

.accordion-container-design .card:hover {
  -webkit-box-flex: 10;
          flex-grow: 10;
}

.accordion-container-design .card:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.accordion-container-design .card:hover .card__head {
  opacity: 0.8;
  text-align: center;
  bottom: calc(100% - 4em);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  -webkit-transform: rotate(0deg) skew(-5deg);
          transform: rotate(0deg) skew(-5deg);
  border-bottom-left-radius: 0px;
  min-width: 100%;
  -webkit-animation-name: card__head_anim;
          animation-name: card__head_anim;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
}

@keyframes card__head_anim {
  0% {
    width: 100%;
    min-width: 100%;
    opacity: 0.8;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    color: black;
    background: rgba(255, 30, 173, 0.75);
    background: #f2a25c;
    font-size: 1em;
    height: auto;
  }

  50% {
    width: 100%;
    opacity: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    color: black;
    background: rgba(255, 30, 173, 0.75);
    background: #f2a25c;
    font-size: 1em;
    min-width: 100%;
  }

  51% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 2em;
    width: 0px;
    min-width: 0px;
    height: auto;
    bottom: calc(100% - 4em);
  }

  100% {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    opacity: 100;
    min-width: 100%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    font-size: 2em;
    width: 100%;
    height: auto;
    bottom: calc(100% - 4em);
  }
}

.accordion-container-design .card:hover .card__copy {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(0deg) skew(-5deg);
          transform: rotate(0deg) skew(-5deg);
  display: block;
}

.accordion-container-design .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

#slider-vert-container {
  height: 640px;
  max-height: 1200px;
  background-color: #1b1b1b;
  position: relative;
  border-radius: 30px 30px 40px 40px;
  padding: 1rem;
  padding-bottom: 0px;
}

#slider-vert-container #slider-vert-box {
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#slider-vert-container #slider-vert-box li {
  height: 320px;
  text-align: center;
  line-height: 320px;
  float: left;
  font-size: 48px;
}

#slider-vert-container #slider-vert-box ul {
  list-style: none;
  height: 6000px;
  padding: 0;
}

#slider-vert-container #vertParent {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

#slider-vert-container .credit-img-div {
  height: 100%;
  width: 100%;
}

#slider-vert-container .credit-img {
  margin-bottom: 10%;
  margin-top: 0px;
  height: calc(100% - 1rem);
}

.vert-img {
  width: 100%;
  height: auto;
}

.credit-img:hover .tooltiptext {
  display: block;
}

.display-reel {
  display: none;
}

.toggle-reel-button {
  height: 6rem;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: flex;
  right: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.position-reel-button {
  position: absolute;
  top: auto;
  margin: 4.5rem 0rem;
  padding: 0.4rem 0.6rem;
  z-index: 10;
  box-shadow: 0 2px 4px 0px #616161;
}

.toggle-reel-img {
  width: auto;
  height: 4rem;
  margin: auto;
}

.video {
  z-index: 0;
}

.design-credit-div {
  -webkit-animation-duration: all 600ms;
          animation-duration: all 600ms;
  margin: auto;
  width: 25%;
  height: auto;
  padding: 0.4rem;
  text-align: center;
  box-shadow: 0 2px 4px 0px none;
  cursor: pointer;
}

.design-credit-div p {
  margin: 0.5rem 0rem;
}

.design-credit {
  height: auto;
  width: 100%;
}

.design-credit-div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #f66d9b;
  border-radius: 0.2rem;
  background: #fff;
  box-shadow: 0 2px 4px 0px #616161;
}

.design-credit-div:hover p {
  color: #f2a25c;
}

#return-button {
  height: 2rem;
  width: auto;
}

#generalist-ol {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 300px;
  background: #f2a25c;
  padding: 1rem;
  font-size: 1.6rem;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 3px 3px 5px #b4cbd9;
}

.generalist-ol-visible {
  display: none;
}

#generalist-close {
  position: absolute;
  top: -5px;
  width: 2rem;
  height: auto;
  cursor: pointer;
  right: -2%;
}

.font-size-14 {
  font-size: 1.4rem;
}

#generalist-top {
  position: relative;
  background: #fbf3f2;
  background-image: url("/img/generalistBG.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: #1d1d1d;
  padding-top: 6rem;
}

#generalist-top p,
#generalist-top h3,
#generalist-top h1 {
  color: #1d1d1d;
}

#generalist-top h5 {
  background: #1d1d1d;
  color: #fbf3f2;
}

#generalist-top a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

#generalist-top .youtube-button-settings {
  background: #1d1d1d;
  padding: 0.4rem 0.6rem;
  padding-right: 3rem;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border: solid 1px #1c768f;
  border-right: none;
}

#generalist-top .youtube-button-settings p,
#generalist-top .youtube-button-settings button {
  color: #fbf3f2;
}

#generalist-top .youtube-button-settings img {
  fill: white;
}

#design-op1,
#design-op2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #fbf3f2;
  color: #1d1d1d;
  overflow: hidden;
  height: auto;
}

#design-op1 p,
#design-op1 h3,
#design-op1 h1,
#design-op2 p,
#design-op2 h3,
#design-op2 h1 {
  color: #1d1d1d;
}

.display-info {
  padding-bottom: 1rem;
  padding-left: 3%;
  padding-right: 3%;
}

#devTitle {
  overflow: hidden;
}

#addOpacity {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  background-color: #fbf3f2;
}

#movieToggle {
  width: 100%;
  padding-top: 0.5rem;
}

#devImg {
  width: 100%;
  height: auto;
}

#development-top {
  background: #fbf3f2;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  padding-top: 6rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: #1d1d1d;
}

#development-top p,
#development-top h3,
#development-top h1,
#development-top a {
  color: #1d1d1d;
}

#development-top h5 {
  background: #1d1d1d;
  color: #fbf3f2;
}

#development-top a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

#development-bottom {
  overflow: hidden;
  background: #fbf3f2;
  color: #1d1d1d;
}

#development-bottom p,
#development-bottom h3,
#development-bottom h1 {
  color: #1d1d1d;
}

#development-bottom-parent {
  height: 100%;
  width: 100%;
}

#devDescription {
  overflow: hidden;
}

body {
  font-size: 1.6rem;
  height: 100%;
  background: #1d1d1d;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

h3,
h2,
h1 {
  font-size: 3rem;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

textarea,
input {
  font-size: 1.6rem;
  width: 100%;
  min-height: 1.6rem;
  max-height: 5rem;
  border-radius: 1rem;
  border: none;
}

button {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  background-color: #f2a25c;
  color: white;
  width: 100%;
  border: none;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

button:hover {
  background-color: white;
  color: #1c768f;
}

.social-icon-row img {
  height: 3rem;
  width: auto;
}

.padding-0-40 {
  padding: 0px 40px;
}

.display-none {
  display: none;
}

p,
h1,
h2,
h3,
h4,
a {
  color: #ffffff;
}

a {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

a:hover {
  color: #f2a25c !important;
}

h5 {
  font-size: 1.8rem;
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.col {
  padding: 0.2rem;
}

.col-3 {
  padding: 0.2rem;
  width: calc(100% / 4);
  margin-top: 0px;
}

.col-6 {
  padding: 0.2rem;
  width: calc(100% / 2);
  margin-top: 0px;
}

.col-9 {
  padding: 0.2rem;
  width: 75%;
  margin-top: 0px;
}

.col-12 {
  padding: 0.2rem;
  width: calc(100% / 1);
  margin-top: 0px;
}

.margin-auto {
  margin: auto;
}

.margin-0 {
  margin: 0px;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-bottom-05 {
  margin-bottom: 0.5rem;
}

.margin-bottom-025 {
  margin-bottom: 0.25rem;
}

.padding-0 {
  padding: 0px !important;
}

.padding-1 {
  padding: 1rem;
}

.padding-1-05 {
  padding: 0.5rem 1rem;
}

.padding-0-3 {
  padding: 0px 3%;
}

.padding-0-1 {
  padding: 0px 1rem;
}

.padding-2-0 {
  padding: 2rem 0px;
}

.padding-r-1 {
  padding-right: 10px;
}

.padding-bottom-1 {
  padding-bottom: 1rem;
}

.padding-bottom-05 {
  padding-bottom: 0.5rem;
}

.padding-top-1 {
  padding-top: 1rem;
}

.padding-top-05 {
  padding-top: 0.5rem;
}

.border-left-break {
  border-left: solid #78bfb8 10px;
}

canvas {
  border: 1px solid black;
  background: #1d1d1d;
}

body {
  margin: 0;
}

.zoom {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

.zoom:hover {
  -webkit-transform: scale(1.05) !important;
          transform: scale(1.05) !important;
}

canvas {
  border: 1px solid black;
  background: #1d1d1d;
}

.reveal {
  opacity: 0;
  -webkit-transform: translate3d(0, 100px, 0);
          transform: translate3d(0, 100px, 0);
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, transform 0.8s;
  transition: opacity 0.8s, transform 0.8s, -webkit-transform 0.8s;
}

.reveal_visible {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.push-top {
  position: relative;
}

/* The image used */

/* Full height */

/* Center and scale the image nicely */

.img-home-size {
  position: absolute;
  left: 0;
  top: 0;
  max-height: 400%;
  min-height: 100%;
  width: auto;
  max-width: 400%;
  min-width: 100%;
  z-index: -1;
}

#img-home-left {
  width: 50%;
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: inline-block;
  background: #ffffff45;
}

#img-home-right {
  width: 50%;
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: inline-block;
  background: #ffffff45;
}

#homepage-black-block {
  z-index: -1;
  height: 100%;
  background: #1d1d1d;
  background: black;
  width: 40%;
  position: absolute;
}

@media (max-width: 899px) {
  #homepage-black-block {
    width: 0%;
  }

  .skew {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

#homepage-video-block {
  z-index: -2;
  height: 100%;
  background: #1d1d1d;
  background: black;
  width: 70%;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
}

@media (max-width: 899px) {
  #homepage-video-block {
    width: 100%;
  }
}

.main-div-homepage {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100%;
}

.main-div-homepage-left {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: left;
          justify-content: left;
  height: 100%;
}

.main-links-homepage {
  border: 3px solid #1d1d1d;
  padding: 1rem 2rem;
  border-radius: 50px;
  color: #1d1d1d !important;
  text-decoration: none;
  background-color: #fbf3f2;
}

.main-links-homepage:hover {
  background-color: #b4cbd9;
}

.main-links-homepage-02 {
  text-decoration: none;
}

.main-links-homepage-02 h1 {
  padding: 0rem 2rem;
  border-radius: 50px;
  text-decoration: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fbf3f2;
  color: #000;
  /* Fallback for older browsers */
  color: rgba(0, 0, 0, 0.5);
  font-size: 40px;
  font-size: 4rem;
  margin: 0px;
}

.main-links-homepage-02:hover h1 {
  color: #fbf3f2 !important;
}

.scale-img {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

#homepage-bg-image {
  -webkit-transition: all 2s;
  transition: all 2s;
  right: 0px;
}

.homepage-bg-1 #homepage-bg-image {
  right: auto;
}

#home-white-div {
  width: 5%;
  height: 0.4rem;
  background-color: #fbf3f2;
  -webkit-transition: all 1s;
  transition: all 1s;
  height: 3px;
  margin-left: 2.5%;
}

.homepage-bg-1 #home-white-div {
  width: 2.5%;
  margin-left: 30%;
}

#myModal {
  z-index: 1000;
  color: #fbf3f2;
}

#myModal .form-group {
  padding: 1rem;
}

.padding-bottom-1rem {
  padding-bottom: 1rem;
}

.background-grey {
  background: #f3e9e7;
}

.mt-0 {
  margin-top: 0px;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.border-black {
  border: solid 3px #1d1d1d;
  border-left: solid #1d1d1d 8px;
  border-top: none;
  border-right: none;
}

.skew {
  -webkit-transform: skew(4deg);
          transform: skew(4deg);
}

.border-left-orange {
  border-left: 2px solid #f2a25c;
}

#html_element {
  margin: auto;
  margin-bottom: 0.5rem;
}

.color-black {
  color: #1d1d1d;
}

.position-relative {
  position: relative;
}

textarea,
input {
  border-radius: 0px;
  border: solid #1d1d1d 1px;
}

.invalid-feedback {
  color: #f2a25c;
}

.cursor-pointer {
  cursor: pointer;
}

#top-arrow {
  -webkit-animation: top-arrow-anim 1.8s linear infinite;
          animation: top-arrow-anim 1.8s linear infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  fill: #1d1d1d;
}

#bottom-arrow {
  -webkit-animation: bottom-arrow-anim 1.8s linear infinite;
          animation: bottom-arrow-anim 1.8s linear infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  opacity: 0;
}

@-webkit-keyframes top-arrow-anim {
  0% {
    -webkit-transform: translate(0, -50%) scaleX(1);
            transform: translate(0, -50%) scaleX(1);
    opacity: 0;
  }

  25% {
    -webkit-transform: translate(0, -40%) scaleX(0.975);
            transform: translate(0, -40%) scaleX(0.975);
    opacity: 1;
  }

  50% {
    fill: #1d1d1d;
    -webkit-transform: translate(0%) scaleX(0.95);
            transform: translate(0%) scaleX(0.95);
    opacity: 1;
  }

  75% {
    -webkit-transform: translate(0, 40%) scaleX(0.925);
            transform: translate(0, 40%) scaleX(0.925);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 50%) scaleX(0.9);
            transform: translate(0, 50%) scaleX(0.9);
    opacity: 0;
  }
}

@keyframes top-arrow-anim {
  0% {
    -webkit-transform: translate(0, -50%) scaleX(1);
            transform: translate(0, -50%) scaleX(1);
    opacity: 0;
  }

  25% {
    -webkit-transform: translate(0, -40%) scaleX(0.975);
            transform: translate(0, -40%) scaleX(0.975);
    opacity: 1;
  }

  50% {
    fill: #1d1d1d;
    -webkit-transform: translate(0%) scaleX(0.95);
            transform: translate(0%) scaleX(0.95);
    opacity: 1;
  }

  75% {
    -webkit-transform: translate(0, 40%) scaleX(0.925);
            transform: translate(0, 40%) scaleX(0.925);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 50%) scaleX(0.9);
            transform: translate(0, 50%) scaleX(0.9);
    opacity: 0;
  }
}

@-webkit-keyframes bottom-arrow-anim {
  0% {
    -webkit-transform: translate(0, -50%) scaleX(1);
            transform: translate(0, -50%) scaleX(1);
    opacity: 0;
  }

  25% {
    -webkit-transform: translate(0, -40%) scaleX(0.975);
            transform: translate(0, -40%) scaleX(0.975);
    opacity: 1;
  }

  50% {
    fill: #1d1d1d;
    -webkit-transform: translate(0%) scaleX(0.95);
            transform: translate(0%) scaleX(0.95);
    opacity: 1;
  }

  75% {
    -webkit-transform: translate(0, 40%) scaleX(0.925);
            transform: translate(0, 40%) scaleX(0.925);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 50%) scaleX(0.9);
            transform: translate(0, 50%) scaleX(0.9);
    opacity: 0;
  }
}

@keyframes bottom-arrow-anim {
  0% {
    -webkit-transform: translate(0, -50%) scaleX(1);
            transform: translate(0, -50%) scaleX(1);
    opacity: 0;
  }

  25% {
    -webkit-transform: translate(0, -40%) scaleX(0.975);
            transform: translate(0, -40%) scaleX(0.975);
    opacity: 1;
  }

  50% {
    fill: #1d1d1d;
    -webkit-transform: translate(0%) scaleX(0.95);
            transform: translate(0%) scaleX(0.95);
    opacity: 1;
  }

  75% {
    -webkit-transform: translate(0, 40%) scaleX(0.925);
            transform: translate(0, 40%) scaleX(0.925);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 50%) scaleX(0.9);
            transform: translate(0, 50%) scaleX(0.9);
    opacity: 0;
  }
}

.border-bottom-black {
  border-bottom: 1px solid #1d1d1d;
}

.h-100 {
  height: 100%;
}

.homepage-bg-0 {
  background: red !important;
}

.img-top {
  max-height: 500px;
  max-width: 100%;
}

#alert-message {
  color: red;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 1rem;
}

#alert-message.success {
  color: green;
}

#subject {
  display: none;
}

